/* ===== GOOGLE FONTS : www.fonts.google.com ======  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Rubik:wght@300;400;500&display=swap");
/* ==== ROOT ==== */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}
/* ==== CSS VARIABLES ==== */
:root {
 --logo-text-color: #141516;
 --lg-text-color: #000000;
 --sm-text-color: #0e0d0d;
 --md-light-text: #353534;
 --light-text: #959188;
 --text-color: #1455a9;
 --light-border: #5896ba;
 --gradient-start: #2bb6ed;
 --gradient-middle: #739fcf;
 --gradient-end: #85afe6;
}
/* ==== HTML RESET ==== */
html,
body {
 scroll-behavior: smooth;
}
body {
 height: 100vh;
 width: 100%;
 background: linear-gradient(
  124deg,
  var(--gradient-start) 0%,
  var(--gradient-middle) 50%,
  var(--gradient-end) 80%
 );
}
a {
 text-decoration: none;
}
button {
 border: none;
 outline: none;
 cursor: pointer;
}
ul li {
 list-style-type: none;
}

/* ==== CONTAINER ==== */
.container {
    max-width: 1028px;
    margin: 0 auto;
    padding: 0rem;
}
.grid {
    display: grid;
}

@media screen and (min-width: 64em) {
    .container {
        width: 100%;
        padding: 1rem;
    }
}
.header {
    width: 100%;
    height: 4rem;
    margin-bottom: 3rem;
}
.navbar {
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    min-width: 100px;
}
.logo-name a {
    font-family: "Rubik", sans-serif;
    letter-spacing: 0.7px;
    font-size: 1.5rem;
    color: var(--logo-text-color);
}
.logo-name a span {
    font-family: "Rubik", sans-serif;
    color: var(--text-color);
    font-weight: 400;
}

.close-nav {
    display: none;
}
.close-nav {
    display: none;
}

.close_btn {
    background-color: #f3f4f6;
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-weight: 600;
}
.close_btn:hover {
    background-color: #ffffff;
}

.nav-link-list {
    display: flex;
}
.nav-link-list-item {
    margin: 0 1.5rem;
}
.nav-link-list-item .nav-link {
    font-family: "Rubik", sans-serif;
    font-size: 1.05rem;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    color: var(--logo-text-color);
}
.nav-link.active {
    font-weight: 600;
}
.nav-link:hover {
    color: var(--text-color);
}

.toggle_btn {
    background-color: transparent;
    display: none;
}
.toggle_btn i {
    font-size: 1.5rem;
}

.show {
    right: 0 !important;
}

.no-scroll {
    overflow-y: hidden;
}

.grid-cols-2 { 
    grid-template-columns: repeat(2, 1fr);
}

.grid-item-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.flex-item-1 {
    width: 80%;
}
.product-intro {
    font-size: 1rem;
    color: var(--lg-text-color);
    font-weight: 500;
}
.product-tagline {
    font-size: 4rem;
    color: var(--lg-text-color);
    line-height: 1.25;
    text-transform: capitalize;
    margin-top: 5rem;
}
.tagline {
    font-size: 5rem;
    color: var(--lg-text-color);
    line-height: 1.25;
    margin-top: 2.4rem;
    margin-left: 4.1rem;
}
.tagline span {
    font-size: 5rem;
    color: var(--text-color);
    
}
.product-tagline span {
    font-size:8rem;
    color: var(--text-color);
}


.cta-btn:active,
.cta-btn:visited {
    color: var(--gradient-end);
}
.cta-btn {
    display: block;
    width: 200px;
    height: 50px;
    background-color: var(--text-color);
    font-size: 1.5rem;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    border-radius: 30px;
    margin-top: 3rem;
    transition: 0.5s;
    color: var(--gradient-end);
    box-shadow: 0px 3px 10px 0px rgba(1, 126, 184, 0.75);
}
.cta-btn:hover {
    background-color: #51b2f3;
}
.cta-btn:active {
    transform: scale(0.85);
}

.flex-item-2 {
    display: flex;
    gap: 2rem;
    padding-left: 0.7rem;
}

@media screen and (max-width: 991px) {
    body {
    background: linear-gradient(
    90deg,
    var(--gradient-start) 0%,
    var(--gradient-middle) 50%,
    var(--gradient-end) 100%
    );
    }
    .close-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    }
    .nav_menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    background: rgba(215, 215, 215, 0.6);
    backdrop-filter: blur(7px);
    z-index: 50;
    transition: 0.5s ease;
    opacity: 1;
    }
    .nav-link-list {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    }
    .nav-link-list-item {
    margin: 1.4rem 0;
    }
    .nav-link-list-item .nav-link {
    font-size: 1.2rem;
    }
    .nav-link:hover {
    color: #fff;
    }
    .toggle_btn {
    display: block;
    }
    .grid-cols-2 {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    }
    .grid-item-1 {
    gap: 3rem;
    }
    .flex-item-1 {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .product-tagline {
    font-size: 2.5rem;
    }
    .flex-item-2 {
    width: 100%;
    justify-content: center;
    }
    
    }
    
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .animate-fadeOut {
        animation: fadeOut 0.5s ease-in-out forwards;
    }
